body {
    background-color : rgb(158, 190, 171) ;
}
.logo-img{
    /* align-items: center; */
    align-self: center;
}

.content{
    display: flex;
    flex-direction: row;
}
li{
    margin: 1;
    padding: 2;
}

@media(max-width:669px){
    .content{
        display: flex;
        flex-direction: column;
    }
}

